html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

    /* ---------------------HEADER---------------*/

#header li{
    list-style: none;
    display: inline-block;
    
}
#header {
    background-color: dodgerblue;
}
#header .fa{
    color: whitesmoke;
    padding-right: 10px;
 
    
}
#header a{
    color: whitesmoke;
 
    
}
#header a:hover{
    text-decoration: none;
}
@media only screen and (max-width: 580px)
{
    #header {
        text-align: center;
        margin: 0;
    }
    
}

    /* ---------------------MENUS---------------*/

.navbar-nav{
    margin-left: auto;

}
.navbar-nav .nav-item a:hover{
background-color: dodgerblue;
}
span{
    padding-left: 10px;
}
.navbar-brand{
    font-size: 20px;
}
.nav-item .active{
    color: dodgerblue;
}
.nav-item{
    text-transform: uppercase;
    font-size: 20px;
}
.nav-item:hover{
    color: dodgerblue;
}


    /* ---------------------SLIDER---------------*/




.carousel-caption h5{

    font-size: 2vw;
    background: rgba(0,0,0,0.8);
    padding: 15px 0;
    position:relative;
    padding-bottom: 20px;

}


@media only screen and (max-width: 1204px)
{
 
    .carousel-caption h5{
        font-size: 16px;

    }
    .carousel-caption {
        margin-bottom: -35px;
    }
    .carousel-caption h5 {
        margin-top: 0px;

    }
}
@media only screen and (max-width: 320px)
{
 
    .carousel-caption h5{
        font-size: 14px;}
    
        .carousel-caption {
        margin-bottom: -35px;
    }
    .carousel-caption h5 {
        margin-top: 0px;

    }
    #banner span{
        font-size: 14px;
    }
    #header {
        text-align: center;
        font-size: 15px;
    }
    

    }

    /* ---------------------SERVICES---------------*/
#icons fa{
    color: dodgerblue;
    font-size: 75px;
     margin-bottom: 30px;
     margin-top: 30px;
}

.service-tittle p:after{
    content: "";
    background-color: red;
    height: 3px;
    margin:20px auto;
    width: 90px;
    display: block;

}
.service-tittle h2{
    text-align: center;
}
.service-tittle p{
    text-align: center;
}
.readmore :after{
    content: "\f101";
    font-family: FontAwesome;
	padding-left : 10px;
}
.readmore a{
    color: darkred;
    font-size: 20px;

}
.readmore{
    margin-bottom: 25px;
}
.readmore a:hover{
    text-decoration: none;
    color:darkblue;
}

 #icons .fa{
        color: dodgerblue  ;
        font-size: 75px;
     margin-bottom: 30px;

            }
#icons{
    text-align: center;


}

#icons h4{
    color: black;
    font-size: 20px;
    
}
#icons p{

    font-size: 18px;
}

    /* ---------------------ABOUT US---------------*/

 #abmg img{
     height: 580px;
}
#About p{
    font-size: 18px;
}

    /* ---------------------CONTACT US---------------*/


.cont:after{
    content: "";
    background-color: red;
    height: 3px;
    margin:20px auto;
    width: 90px;
    display: block;
}
#contact h2:after{
    content: "";
    background-color: red;
    height: 3px;
    margin:20px auto;
    width: 90px;
    display: block;
}
#banner label{
    font-size: 20px;
}
#quick li{
    font-size: 18px;
    position: relative;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: dodgerblue;
    padding: 20px;
        }
.m{
    padding: 20px;
    padding-left:px
}

#quick span{
     padding-top: 0;
    display: block;
    padding-left: 43px;
 }
#quick h4{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
        }
#quick li{
    list-style: none;
}



    /*-------------------FOOTER------------*/

#footer-side{
    background-color: #2c3e50;
}
.social{
     padding-top: 18px;
    font-size: 20px;
    color: aliceblue;
}
.social i{
    padding-right:12px;
}
#nav li{
    list-style: none;
}
#nav a{
   font-size: 20px;
    color: aliceblue;
}
#nav{
    padding: 18px;
}
#add{
    padding: 18px;
}
#add li{
    list-style: none;
}
@media screen and (max-width:580px){
    #nav{
        text-align: center;
    }
    .social{
        text-align: center;
    }
    .brand
    {
        text-align: center;
    }
    #add{
        text-align: center;
    }
}

#add li{
    font-size: 20px;
}
#arrow {
    background:rgba(55,25,25,0.7);
    border-radius: 20px;
    margin top: 5px;;
}
#quick .fa{
            font-size: 25px;
            padding-right: 15px;
        }

#nav a{
    text-decoration: none;
}
#nav a:hover{
    color: dodgerblue;
}
#add a{
    text-decoration: none
}
#add a:hover{
    color: none;
}

#footer a{
    text-decoration: none;
}
.social i{
    color: aliceblue;
}
.social a{
    font-size: 25px;
}

    /*-------------------TOP BUTTON------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:dodgerblue;
  color: white;
  cursor: pointer;
  padding:10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
#myBtn i{
    color: ghostwhite;
    font-size: 30px;
}

    /*-------------------PAGE LOADER------------*/
#loader{
    background: #111;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 99999;
    justify-content: center;
    align-items: center;

}
#loader div{
    background: #fff;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    animation: loader 1.2s infinite;
}
@keyframes loader{
    50%{
        height: 64px;
    }
}
#loader div:nth-child(1){
    background: #ff9f1a;
    animation-delay: -0.48s;

}
#loader div:nth-child(3){
    background: #ff9f1a;
    animation-delay: -0.48s;

}
